certifi 
pyyaml
pyproject.toml
wheel
Wavelink
discord.py[voice]
py-cpuinfo
youtube-search-python
Pillow
foaas
psutil
geopy
wavelink
pytz
requests
bs4
mcstatus
googletrans
speedtest
art
imgurpython
typing_extensions
git+https://github.com/cloudwithax/pomice